@ThemeColor:#5bf;//主题色
@OrnamentColor:#eee;//点缀色
@DisableColor:#ccc;//表示禁用的颜色

.entrylistTitle{
  line-height: 3;
    color: #ccc;
    font-size: 18px;
    padding-left: 8px;
}
.entrylistItem{
  font-size: 14px;
  color: #ccc;
  border-top: 1px solid #ccc;
  padding: 16px 8px 0;
}
.c_b_p_desc{
  margin-bottom: 24px;
  margin-top: 8px;
}
.entrylistItem>a{
  text-decoration: none;
  color: @ThemeColor;
  font-weight: bold;
  font-size: 16px;
}

.entrylistItemPostDesc{
  display: none;
}