/*
 * 整体框架和基础样式
 */
@import 'color.less';

body{
  margin:0;
  padding: 0;
  background-color: @BgColor;
}
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px @BtnHover;
    background: @BtnHover;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /* box-shadow: inset 0 0 5px #tra; */
    border-radius: 0;
    background: transparent;
    border-radius: 4px;
}
a{
  color: @ThemeColor;
  text-decoration: none;
}
a:hover{
  color: @BtnHover;
}

@media screen and (max-width: 1200px) {
  #topics {
      width: 100%;
  }
  #right{
      position: absolute;
      left: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      display: block;
      background-image: linear-gradient(#fff 0%,#fff 20%,#55bbff 20%,#55bbff 40%,#fff 40%,#fff 60%,#5bf 60%,#55bbff 80%,#fff 80%);

      &:hover{
          #sidebar_categories{
              display: block;
          }
      }
  }
  #sidebar_categories{
      display: none;
      position: absolute;
      top:32px;
  }
}
@media screen and (min-width: 1200px) {
  #topics {
      width: 800px;
      margin: 0 auto;
  }
  #right{
      position: fixed;
      left: 0;
      top: 250px;
      width: 200px;
  }
}

/* 页头 */
#banner{
  background-color: @ThemeColor;
  overflow: hidden;
}
//头像
.headermaintitle{
  position: relative;
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_1.jpg);
  border: 2px solid @OrnamentColor;
  border-radius: 50%;
  height: 97px;
  margin: 20px auto;
  text-align: center;
  width: 97px;
  display: block;

  //名字
  &::after{
    content: "韩子卢";
    color: @OrnamentColor;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 102px;
    left: 25px;
  }
  &:hover{
    box-shadow: 0px 0px 60px #fff;
  }
}

//副标题
.headerDis{
  text-align: center;
  color: @DisableColor;
  font-size: 14px;
  margin-bottom: 16px;
}
//博客链接列表
#mylinks{
  text-align: center;
  background-color:@ThemeColor;
}
//博客链接项
.menu{
  color: @OrnamentColor;
  display: inline-block;
  line-height: 3;
  text-decoration: none;
  padding: 0 10px;
}
//隐藏新文章
#MyLinks1_NewArticleLink{
  display: none;
}
//抵消掉小屏时隐藏新随笔
#mylinks #blog_nav_newpost{
  display:inline-block !important;
}

//隐藏页脚
#footer{
  display: none;
}
//加载进度条
#loadingProcess{
  position: fixed;
  top:0;
  left: 0;
  height: 3px;
  box-sizing: border-box;
  width: 0%;
  background-color: @AccentColor;
  background-image: linear-gradient(to right,transparent 0%,transparent 80%,#fff 100% );
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
// 回复中代码片段会遮挡精灵球
.syntaxhighlighter{
  z-index: -1
}
// 隐藏统计信息
#mystats{
  display:none;
}