@ThemeColor:#5bf;//主题色
@OrnamentColor:#eee;//点缀色
@DisableColor:#ccc;//表示禁用的颜色
/*
*此样式用于对原有样式的修正
*/
.comment_actions a:last-child{
  padding-right: 8px;
}
#green_channel{
  border:none;
  margin:0;
  padding:0;
  width: 430px;
}
#green_channel #green_channel_digg,#green_channel #green_channel_follow,#green_channel #green_channel_favorite{
  background: #fff;
  color: @ThemeColor !important;
  border: 1px solid @ThemeColor !important;
  text-shadow:none;
}
.commentbox_title{
  width: 100%;
}
#tip_comment{
  display: none;
}
div.commentform input.author{
  background-position: 3px -1px;
}
#MyLinks1_NewArticleLink{
  display: none;
}
//抵消掉小屏时隐藏新随笔
#mylinks #blog_nav_newpost{
  display:inline-block !important;
}

a{
  color: @ThemeColor;
  text-decoration: none;
}
a:hover{
  color: #0094f7;
}