@ThemeColor:#5bf;//主题色
@OrnamentColor:#eee;//点缀色
@DisableColor:#ccc;//表示禁用的颜色

@media screen and (max-width: 800px) {
    #topics {
        width: 100%;
    }
}
@media screen and (min-width: 800px) {
    #topics {
        width: 800px;
        margin: 0 auto;
    }
}
body{
    margin:0;
    padding: 0;
}
/* 页头 */
#banner{
    background-color: #5bf;
    overflow: hidden;
}
//头像
.headermaintitle{
    position: relative;
    background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_1.jpg);
    border: 2px solid @OrnamentColor;
    border-radius: 50%;
    height: 97px;
    margin: 20px auto;
    text-align: center;
    width: 97px;
    display: block;
}
//名字
.headermaintitle::after{
    content: "韩子卢";
    color: @OrnamentColor;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 102px;
    left: 25px;
}
//副标题
.headerDis{
    text-align: center;
    color: @DisableColor;
    font-size: 14px;
    margin-bottom: 16px;
}
//博客链接列表
#mylinks{
    text-align: center;
    background-color:@ThemeColor;
}
//博客链接项
.menu{
    color: @OrnamentColor;
    display: inline-block;
    line-height: 3;
    text-decoration: none;
    padding: 0 10px;
}

.day{
    border-bottom: 1px solid #ccc;
    padding: 24px 8px 0;
}

.dayTitle{
    float: right;
    font-size: 14px;
    color: @DisableColor;
}
.postTitle{
    margin-bottom: 8px;
}
.postTitle>a{
    text-decoration: none;
    color: @ThemeColor;
    font-weight: bold;
}
.postCon{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 24px;
}
//隐藏阅读全文
.c_b_p_desc_readmore{
    display: none;
}
//隐藏发表信息
.postDesc{
    display: none;
}
#right{
    position: fixed;
    right: 0;
    top: 250px;
}
#sidebar_categories{
    padding: 10px 20px;
    background-color: #eee;
    border: 2px solid #eee;
    border-radius: 4px;
}
.catListTitle{
    font-size: 18px;
    color: #ccc;
}
.catList{
    list-style-type: none;
    padding: 0;
}
.catListItem>a{
    color: @ThemeColor;
    text-decoration: none;
    line-height: 2;
    font-size: 14px;
}
//隐藏页脚
#footer{
    display: none;
}
//翻页
.topicListFooter{
    margin-top: 16px;
    text-align: center;
}
.topicListFooter a{
    text-decoration: none;
    background-color: @ThemeColor;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
}

#post_detail{
    padding: 24px;
    font-size: 14px;
    #cnblogs_post_body{
        padding-left: 8px;
    }
    .postTitle{
        font-size: 18px;   
    }
    h2{
        font-size: 18px;
        background-color:@ThemeColor;
        color: #eee;
        padding: 5px 10px;
        border-radius: 4px;
    }
    h3{
        font-size: 16px; 
    }
    p{
        padding-left: 8px;
    }
    img {
        vertical-align:middle;
    }

}
.cnblogs_code>pre{
    margin-bottom: 20px;
    word-break: break-word!important;
    white-space: pre;
    overflow: auto;
    background: #f6f6f6;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-wrap: break-word;
    color: #657b83;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}    
.comment_textarea{
    width: 100%;
    resize: none;
    height: 100px;
}
#commentbox_opt{
    text-align: right;
}
.comment_btn{
    background: @ThemeColor;
    border: 1px solid #368;
    border-radius: 4px;
    padding: 4px 8px;
}
#BlogPostCategory a{
    color:@ThemeColor;
    text-decoration: none;
}
#green_channel_weibo>img,#green_channel_wechat>img{
    width: 24px;
    height: 24px;
    margin:0 8px;
}
.p_n_p_prefix{
    display: none;
}
//隐藏作者信息
#author_profile_detail{
    display: none;
}
//隐藏广告
#ad_t2,#cnblogs_c1,#cnblogs_c2,#under_post_news,#under_post_kb{
    display:none;
}
//隐藏标签
#EntryTag{
    display:none;
}
//隐藏退出登陆
#commentbox_opt>a{
    display:none;
}
//隐藏刷新按钮
#comment_nav{
    display:none;
}
//隐藏Ctrl+enter的提示
#tip_comment2+p{
    display: none;
}