/*
 * 首页列表页面
 */

@import 'color.less';

.day{
    border-bottom: 1px solid @DisableColor;
    padding: 24px 8px 0;
}

//文章发表日期
.dayTitle{
    float: right;
    font-size: 14px;
    color: @DisableColor;
}
//标题
.postTitle{
    margin-bottom: 8px;

    &>a{
        font-weight: bold;
    }
}
//摘要
.postCon{
    color: @TextColor;
    font-size: 14px;
    margin-bottom: 24px;
}
//隐藏阅读全文
.c_b_p_desc_readmore{
    display: none;
}
//隐藏发表信息
.postDesc{
    display: none;
}

//翻页
.topicListFooter{
    margin-top: 16px;
    text-align: center;

    a{
        text-decoration: none;
        background-color: @ThemeColor;
        color: #fff;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 14px;
    }
}