/*
 * 阅读页面
 */

@import 'color.less';
@import 'animation.less';
@import 'comment.less';

#post_detail{
  padding: 24px;
  font-size: 14px;

  #cnblogs_post_body{
      padding-left: 8px;

      ol {
        li{
          line-height: 2em;
        }
      }
  }
  .postTitle{
      font-size: 18px;
      padding-left: 8px;
  }
  h2{
      font-size: 18px;
      background-color:@ThemeColor;
      color: #eee;
      padding: 5px 10px;
      border-radius: 4px;
  }
  h3{
      font-size: 16px; 
  }
  p{
    padding: 0 8px;
    line-height: 2;
    margin: 0;
  }
  img {
      max-width: 100%;
      vertical-align:middle;
  }
  .cnblogs_code{
    margin-bottom: 20px;
    overflow: auto;
    display: block;
    padding: 9.5px;
    font-size: 13px;
    color: #657b83;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  code{
    margin: 0 24px;
    padding: 10px !important;
  }
  table{
    width: 95%;
    margin: 0 auto;
  }
  ul{
    list-style-image: radial-gradient(@ThemeColor,transparent);
    
    &>li{
      margin-top: 8px;
    }
  }
  strong{
    color:@AccentColor;
  }
}

#green_channel_weibo,#green_channel_wechat{
  &>img{
    width: 24px;
    height: 24px;
    margin:0 8px;
  } 
}
//上一篇 下一篇
#post_next_prev{
  clear: both;
  margin-top: 24px;

  &>a{
    line-height: 2;
  }

  // 隐藏指向符号
  .p_n_p_prefix{
    display: none;
  }
}

//隐藏作者信息
#author_profile,#author_profile_detail{
  display: none;
}
//隐藏广告
#ad_t2,#cnblogs_c1,#cnblogs_c2,#under_post_news,#under_post_kb{
  display:none;
}
//隐藏标签
#EntryTag{
  display:none;
}

#blog_post_info_block{
  padding: 16px 8px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#BlogPostCategory{
  margin-top: 8px;
}

#blog_post_info{
  width: 100% !important;
}
// 解决小屏幕下的不美观
@media screen and (min-width: 800px) {
  #BlogPostCategory{
    float: left;
  }
  #blog_post_info{
    float: right;
    width: 430px !important;
  }
}

//分享关注收藏的快速通道
#green_channel{
  border:none;
  margin:0;
  padding:0;
  width: 430px;
  
  #green_channel_digg,#green_channel_follow,#green_channel_favorite{
    background: #fff;
    color: @ThemeColor !important;
    border: 1px solid @ThemeColor !important;
    text-shadow:none;
    box-shadow: none;

    &:hover{
      box-shadow: 0 1px 3px rgba(0,0,0,.5);
    }
  }
  a{
    border: 1px solid @ThemeColor;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
  }
}

#green_channel_digg::before,#green_channel_follow::before,#green_channel_favorite::before{
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#green_channel_digg::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_thumb_up_24.png);
}
#green_channel_follow::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_love1.png);
}
#green_channel_favorite::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_star.png);
}

/*    点赞样式Begin   */
#div_digg {
  bottom: 72px;
  margin: 0px;
  position: fixed;
  right: 16px;
  animation: jumping 5s ease-in-out;
  animation-iteration-count: infinite;
  z-index: 1992;
}

.buryit {
  display: none;
}
.diggit { 
  background: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_ball2.png) no-repeat;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px #fff inset;
  cursor: pointer;
  height: 100px;
  margin: 0px;
  padding: 0px;
  width: 100px;
  text-align: center;

  &::before{
    content: "这里是点赞";
    position: absolute;
    top: -40px;
    left: -12px;
    font-size: 26px;
    color: @ThemeColor;
  }
}
#div_digg .diggnum {
  color: #EEE;
  font-family: Verdana;
  font-size: 35px;
  line-height: 2em!important;
}

#digg_tips{
  color: #fa5 !important;
  width: 200px;
  text-align: center;
  margin-left: -50px;
  margin-top: -170px;
}

a.digg_gray{
  font-size: 18px;
}
#xiaociguai{
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1993;
}
#xiaociguai>img{
  width: 155px;
}
#xiaociguai::after{
  content: '';
  width: 2px;
  height: 2px;
  background-color: #666;
  position: absolute;
  left: 69px;
  top: 43px;
  animation: eyemove 10s ease-in-out;
  animation-iteration-count: infinite;
}
#xiaociguai:hover,#xiaociguai.enable-electric{
  -webkit-filter: saturate(7);
  filter: saturate(7);
}

/*    点赞样式End   */


/*    历史上的今天  */
#HistoryToday{
  text-align: center;
  margin-top: 48px;
  border-top: 1px solid #eee;
  color: #ccc;

  b{
    margin: 16px 0;
    display: inline-block;
  }
  br{
    margin-top:16px;
  }
}

/*    目录样式   */
#reader_catalog{
  position: fixed;
  z-index: 1991;
  right: 0;
  top: 250px;
  padding: 10px 20px;
  background-color: @BgColor;
  border: 1px solid @ThemeColor;
  border-radius: 4px;
  width: 230px;
  box-shadow: -5px 5px 10px rgba(200, 200, 200, 0.5);
  max-height: 430px;

  &>h3{
    font-size: 18px;
    color: #ccc;
    margin: 12px 0;
  }

  &>ul{
    list-style: none;
    padding: 0;
    overflow: auto;
    max-height: 380px;

    &>li{
      white-space: nowrap;

      &>a{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        line-height: 2em;
      }
    }
  }
}

// 签名样式
#MySignature{
  display: block;
  color: #00BCD4;
  padding: 15px;
  margin: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 0px 4px inset;
}

.leader-line{
  z-index: 1992;
}

@media screen and (max-width: 1200px) {
  #reader_catalog{
    display: none;
  }
}