@ThemeColor:#5bf;//主题色
@OrnamentColor:#eee;//点缀色
@DisableColor:#ccc;//表示禁用的颜色

#post_detail{
  padding: 24px;
  font-size: 14px;
  #cnblogs_post_body{
      padding-left: 8px;
  }
  .postTitle{
      font-size: 18px;   
  }
  h2{
      font-size: 18px;
      background-color:@ThemeColor;
      color: #eee;
      padding: 5px 10px;
      border-radius: 4px;
  }
  h3{
      font-size: 16px; 
  }
  p{
      padding-left: 8px;
  }
  img {
      max-width: 100%;
      vertical-align:middle;
  }

}
.cnblogs_code{
  margin-bottom: 20px;
  overflow: auto;
  display: block;
  padding: 9.5px;
  font-size: 13px;
  color: #657b83;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}    
.comment_textarea{
  width: 100% !important;;
  resize: none;
  height: 100px !important;;
  border: 1px solid #999;
  border-radius: 4px;
  margin-top: 16px;
  box-sizing: border-box;
}
#commentbox_opt{
  text-align: right;
}
.feedback_area_title{
  display: none;
}
#blog-comments-placeholder{
  padding: 0 16px;
}
.comment_btn{
  background: #fff;
  border: 1px solid #5bf;
  border-radius: 4px;
  color: #5bf;
  cursor: pointer;
  padding: 4px 8px;
}

#green_channel_weibo>img,#green_channel_wechat>img{
  width: 24px;
  height: 24px;
  margin:0 8px;
}
#post_next_prev>a{
  text-decoration: none;
  color: @ThemeColor;
  line-height: 2;
}
.p_n_p_prefix{
  display: none;
}
.feedbackItem{
  clear: both;
  padding: 48px 8px 16px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.feedbackManage{
  float: right;
}
.feedbackListSubtitle a{
  color: @ThemeColor;
  text-decoration: none;
}
.comment_actions>a{
  text-decoration: none;
  margin: 0 8px;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;

  &:last-child{
    color: #f44;
  }
}

.comment_date{
  color: #ccc;
  font-size: 14px;
}
.comment_vote{
  margin-top: 32px;
  float: right;

  &>a{
    color:@ThemeColor;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0 8px;
  }
}
.comment_digg::before{
  content: "";
  display:inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_thumb_up.png);
}
.comment_bury::before{
  content: "";
  display:inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_thumb_down.png);
}
.blog_comment_body{
  margin-top: 32px;
  font-size: 16px;
  color: #333;
}
#comment_form_container{
  padding: 0 16px;
  margin-top: 24px;
}
.commentbox_title_left{
  float: left;
}
.commentbox_title_right{
  float: right;
}
.blog_comment_body{
  a{
    color: @ThemeColor;
  }
}
.comment_quote{
  border-color: #eee;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px 8px 16px 8px;

  &>legend{
    &>a{
      color: @ThemeColor;
      text-decoration: none;
    }
  }
}
.comment_my_posted{
  padding: 24px;

  a{
    color: @ThemeColor;
  }
}
.bq_post_comment{
  border: 1px solid #eee;
  border-radius: 4px;
}
#commentform_title{
  background-position-y: 3px;
}
#tbCommentAuthor{
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  color: #ccc;
  width: 200px;
}
//发送站内短消息
.sendMsg2This{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_letter.png) !important;
  text-decoration: none !important;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
//隐藏作者信息
#author_profile,#author_profile_detail{
  display: none;
}
//隐藏广告
#ad_t2,#cnblogs_c1,#cnblogs_c2,#under_post_news,#under_post_kb{
  display:none;
}
//隐藏标签
#EntryTag{
  display:none;
}
//隐藏退出登陆
#commentbox_opt>a{
  display:none;
}
//隐藏刷新按钮
#comment_nav{
  display:none;
}
//隐藏Ctrl+enter的提示
#tip_comment2+p{
  display: none;
}
#blog_post_info_block{
  padding: 16px 8px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#BlogPostCategory{
  margin-top: 8px;
}
#BlogPostCategory a{
  color:@ThemeColor;
  text-decoration: none;
}


#blog_post_info{
  width: 100% !important;
}
@media screen and (min-width: 800px) {
  #BlogPostCategory{
    float: left;
  }
  #blog_post_info{
    float: right;
    width: 430px !important;
  }
}

#post_next_prev{
  clear: both;
  margin-top: 24px;
}

#green_channel a{
  color: #5bf;
  border: 1px solid #5bf;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  padding: 0 8px;
}
#green_channel_digg::before,#green_channel_follow::before,#green_channel_favorite::before{
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#green_channel_digg::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_thumb_up_24.png);
}
#green_channel_follow::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_love1.png);
}
#green_channel_favorite::before{
  background-image: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_star.png);
}

/*    点赞样式Begin   */

@keyframes jumping {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-400px);
  }
  100% {
      transform: translateY(0px);
  }
}

#div_digg {
  bottom: 0px;
  margin: 0px;
  position: fixed;
  right: 0.5rem;
  animation: jumping 5s ease-in-out;
  animation-iteration-count: infinite;
}

.buryit {
  display: none;
}

.diggit { 
  background: url(http://images.cnblogs.com/cnblogs_com/vvjiang/996881/o_ball2.png) no-repeat;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px #fff inset;
  cursor: pointer;
  height: 100px;
  margin: 0px;
  padding: 0px;
  width: 100px;
  text-align: center;

  &::before{
    content: "\8FD9\91CC\662F\70B9\8D5E\54E6";
    position: absolute;
    top: -40px;
    left: 7px;
    font-size: 14px;
    color: #5bf;
  }
}
#div_digg .diggnum {
  line-height: 2em!important;
}

.diggnum {
  font-size: 35px;
  color: #EEE;
  font-family: Verdana;
}

#digg_tips{
  color: #fa5 !important;
  width: 200px;
  text-align: center;
  margin-left: -50px;
  margin-top: 20px;
}
a.digg_gray{
  font-size: 18px;
}


/*    点赞样式End   */

#HistoryToday{
  text-align: center;
  margin-top: 48px;
  border-top: 1px solid #eee;
  color: #ccc;

  b{
    margin: 16px 0;
    display: inline-block;
  }
  br{
    margin-top:16px;
  }
  a{
    color: @ThemeColor; 
    text-decoration: none;
  }
}